---
import { getEntry } from "astro:content";
import HeroContentInfo from "./Sections/HeroContentInfo.astro";
import FechaStart from "./Atoms/FechaStart.astro";
import CourseBreadcrumb from "./Atoms/CourseBreadcrumb.astro";
import { Image } from "astro:assets";

import ThumbAnsiC from "@src/Images/Carreras/Embebido/ThumbAnsiC.jpg";
import ThumbARM from "@src/Images/Carreras/Embebido/ThumbARM.jpg";
import ThumbPicWiFi from "@src/Images/Carreras/Embebido/ThumbPicWifi.jpg";
import ThumbRedCelular from "@src/Images/Carreras/IoT/ThumbRedCelular.jpg";
import ThumbEsp32C from "@src/Images/Carreras/IoT/ThumbEsp32C.jpg";
import ThumbLabview from "@src/Images/Carreras/Software/ThumbLabview.jpg";
import ThumbPython from "@src/Images/Carreras/Software/ThumbPython.jpg";

const { carrera, course } = Astro.params;
const specificCourse = await getEntry("courses", `${carrera}/${course}`);
const { startDate } = specificCourse?.data || {};

const bgImages = {
  "ansi-c": ThumbAnsiC,
  arm: ThumbARM,
  picwifi: ThumbPicWiFi,
  redcelular: ThumbRedCelular,
  esp32c: ThumbEsp32C,
  labview: ThumbLabview,
  python: ThumbPython,
};
---

<section class="bg-secondary-50">
  <div class="h-14 w-full"></div>
  <!-- Pequeño cuadro para bajar el resto del espacio que oculata la barra de navegación fija -->
  <div
    class="mx-auto max-w-7xl px-7 py-7 lg:grid lg:grid-cols-2 lg:grid-rows-[32px_minmax(256px,_1fr)] lg:gap-x-6"
  >
    <CourseBreadcrumb carrera={carrera} course={course} />
    <div
      class="mb-4 aspect-video w-full rounded-lg text-black-300 shadow-[0px_16px_32px_0px_1C253250] lg:col-start-1 lg:col-end-2 lg:row-start-2 lg:row-end-3"
    >
      <Image
        src={bgImages[course as keyof typeof bgImages]}
        alt={`Imagen del cuso de ${course}`}
        class="h-full w-full rounded-xl object-cover object-center lg:object-contain lg:object-top"
      />
    </div>
    <div
      class="mb-1 flex justify-end lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2"
    >
      <FechaStart startDate={startDate} />
    </div>
    <div class="lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-3">
      <HeroContentInfo />
    </div>
  </div>
</section>
