---
import { getEntry } from "astro:content";
import HeroContentInfo from "./Sections/HeroContentInfo.astro";
import FechaStart from "./Atoms/FechaStart.astro";
import CourseBreadcrumb from "./Atoms/CourseBreadcrumb.astro";

const { carrera, course } = Astro.params;
const specificCourse = await getEntry("courses", `${carrera}/${course}`);
const { startDate } = specificCourse?.data || {};
---

<section class="bg-secondary-50">
  <div class="h-14 w-full"></div>
  <!-- Pequeño cuadro para bajar el resto del espacio que oculata la barra de navegación fija -->
  <div
    class="mx-auto max-w-7xl px-7 py-7 lg:grid lg:grid-cols-2 lg:grid-rows-[32px_minmax(256px,_1fr)] lg:gap-x-6"
  >
    <CourseBreadcrumb carrera={carrera} course={course} />
    <div
      class="mb-4 aspect-video w-full rounded-lg bg-white-800 text-black-300 shadow-[0px_16px_32px_0px_1C253250] lg:col-start-1 lg:col-end-2 lg:row-start-2 lg:row-end-3"
    >
      VIDEO
    </div>
    <div
      class="mb-1 flex justify-end lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2"
    >
      <FechaStart startDate={startDate} />
    </div>
    <div class="lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-3">
      <HeroContentInfo />
    </div>
  </div>
</section>
