---
import ServiceCardImage from "@src/Images/Servicios/ServiceCard.jpg";
import { Image } from "astro:assets";

const { title, description, link = "#" } = Astro.props;
---

<li
  class="h-80 min-w-fit snap-center flex-col justify-center overflow-y-auto rounded bg-white-100 outline outline-1 outline-white-600"
>
  <Image src={ServiceCardImage} alt="Imagen de servicio" />
  <div class="relative">
    <hgroup
      class="absolute -top-7 left-0 right-0 mx-auto max-w-60 rounded bg-white-50 px-3 pb-3 pt-2 shadow-sm"
    >
      <h3 class="mb-3 text-center leading-tight text-black-500">
        {title}
      </h3>
      <p
        class="text-center text-sm font-light leading-tight tracking-wide text-black-400"
      >
        {description}
      </p>
    </hgroup>
    <footer
      class="absolute -bottom-36 left-0 right-0 mx-auto flex items-end justify-center gap-4"
    >
      <span
        class="flex flex-col items-center lg:flex-row-reverse lg:items-end lg:gap-2"
      >
        <a
          href={link}
          class="flex h-fit items-center gap-1 rounded border border-primary-500 bg-primary-500 px-3 py-1 transition-colors duration-300 hover:bg-primary-400 lg:py-2"
        >
          <span class="text-sm text-white-100 lg:text-base"
            >Solicitar Servicio
          </span>
        </a>
      </span>
      <a
        href={link}
        class="flex rounded border border-black-300 px-3 py-1 transition-colors duration-300 hover:bg-white-200 lg:py-2"
      >
        <!-- El flex es para igualar las alturas de ambos botones, algo que no entiendo la razón, pero funciona -->
        <span class="text-sm text-black-300">Más detalles</span>
      </a>
    </footer>
  </div>
</li>
