---
import Check from "@src/Images/icons/Check.astro";
import Chip from "@src/Images/icons/Chip.astro";

const { carrera } = Astro.params;
let text = "";
let nCourses = 0;
let priceBase = 300;
let finalPrice = 240;
let discount = priceBase - finalPrice;
let textLinktoBuy = ``;

switch (carrera) {
  case "embebido":
    nCourses = 3;
    text = "Firmware Embebido";
    priceBase = 300;
    finalPrice = 240;
    discount = priceBase - finalPrice;
    textLinktoBuy = `https://api.whatsapp.com/send?phone=51970570927&text=Hola%2C%20vengo%20de%20la%20web%2C%20quisiera%20adquirir%20el%20plan%20de%20${nCourses}%20cursos%20en%20la%20linea%20de%20carrera%20de:%20*${text}*`;
    break;
  case "iot":
    nCourses = 2;
    text = "IoT";
    priceBase = 205;
    finalPrice = 150;
    discount = priceBase - finalPrice;
    textLinktoBuy = `https://api.whatsapp.com/send?phone=51970570927&text=Hola%2C%20vengo%20de%20la%20web%2C%20quisiera%20adquirir%20el%20plan%20de%20${nCourses}%20cursos%20en%20la%20linea%20de%20carrera%20de:%20*${text}*`;
    break;
  case "software":
    text = "Desarrollo de Software";
    nCourses = 2;
    priceBase = 225;
    finalPrice = 200;
    discount = priceBase - finalPrice;
    textLinktoBuy = `https://api.whatsapp.com/send?phone=51970570927&text=Hola%2C%20vengo%20de%20la%20web%2C%20quisiera%20adquirir%20la%20ruta%20de%20labVIEW%20en%20la%20linea%20de%20carrera%20de:%20*${text}*`;
    break;
  case "hardware":
    nCourses = 2;
    text = "Diseño de Hardware";
    priceBase = 340;
    finalPrice = 300;
    discount = priceBase - finalPrice;
    textLinktoBuy = `https://api.whatsapp.com/send?phone=51970570927&text=Hola%2C%20vengo%20de%20la%20web%2C%20quisiera%20adquirir%20el%20plan%20de%20${nCourses}%20cursos%20en%20la%20linea%20de%20carrera%20de:%20*${text}*`;
    break;
  default:
    text = "Carrera";
    priceBase = 0;
    finalPrice = 0;
}
---

<div>
  <!-- <div
    class="mx-auto w-fit rounded-t-lg bg-primary-400 px-12 py-2 font-bold text-white-100"
  >
    Más seleccionado
  </div> -->
  <section
    class="mx-auto mb-12 max-w-96 rounded-2xl border border-white-600 bg-white-50 p-8 shadow-[0px_16px_32px_px_#18181B25] md:flex md:flex-col md:justify-between lg:mb-0 lg:mt-10"
  >
    <div>
      <header
        class="mb-6 text-center text-[40px] font-bold leading-none text-primary-500"
      >
        {
          carrera === "software"
            ? `Ruta de LabVIEW`
            : carrera === "hardware"
              ? `Ruta de Diseño de Hardware`
              : `Pack de ${nCourses} cursos`
        }
      </header>
      <div class="mb-6">
        <p class="grid place-content-center gap-2">
          <span class="text-center text-sm font-light text-black-500"
            >Precio regular</span
          >
          <span class="text-center text-sm text-black-500 line-through"
            >$ {priceBase} USD</span
          >
        </p>
        <p class="grid place-content-center">
          <span class="flex items-baseline gap-1">
            <span class="self-start text-xl text-black-500">$</span>
            <span class="text-5xl font-bold text-black-500">{finalPrice}</span>
            <span class="text-2xl font-bold text-black-500">USD</span>
          </span>
        </p>
        <p class="flex items-baseline justify-center gap-2">
          <span class="font-light text-secondary-500">Ahorra </span><span
            class="text-secondary-500">{discount} $</span
          >
        </p>
      </div>
      <div class="mx-auto mb-6 grid h-24 w-24 place-content-center">
        <Chip width="76" height="76" />
      </div>
      <p class="mb-6 text-center text-sm leading-tight text-black-500">
        <!-- Aprovecha  de Desarrollo de Software -->
        <!-- Embebido y disfruta de un descuento en tu compra. -->
        Aprovecha esta oferta especial en la ruta de {text} y obtén un descuento
        exclusivo en tu compra.
        <!-- ¡Es el momento perfecto para hacer tu compra y comenzar! -->
      </p>
      <ul class="mb-6">
        <!--         
        <li class="mb-1 flex items-center gap-1">
          <div class="grid h-5 w-5 place-content-center">
            <Check fill="#C40B2A" />
          </div>
          <span class="font-light text-black-500"
            >Selección Flexible de {nCourses} cursos</span
          >
        </li> -->
        <li class="mb-1 flex items-center gap-1">
          <div class="grid h-5 w-5 place-content-center">
            <Check fill="#C40B2A" />
          </div>
          <span class="font-light text-black-500">Material de Apoyo</span>
        </li>
        <li class="mb-1 flex items-center gap-1">
          <div class="grid h-5 w-5 place-content-center">
            <Check fill="#C40B2A" />
          </div>
          <span class="font-light text-black-500">Proyectos Incluidos</span>
        </li>
        <li class="mb-1 flex items-center gap-1">
          <div class="grid h-5 w-5 place-content-center">
            <Check fill="#C40B2A" />
          </div>
          <span class="font-light text-black-500">Certificación Parcial</span>
        </li>

        <li class="mb-1 flex items-center gap-1">
          <div class="grid h-5 w-5 place-content-center">
            <Check fill="#C40B2A" />
          </div>
          <span class="text-black-500"
            >Opción de pago en cuotas para estudiantes</span
          >
        </li>
      </ul>
    </div>

    <p class="">
      <a
        class="inline-block w-full rounded bg-primary-500 py-3 text-center text-white-50 transition-colors duration-300 hover:bg-primary-400"
        target="_blank"
        href={textLinktoBuy}>Adquirir plan</a
      >
    </p>
  </section>
</div>
