---
import { Image } from "astro:assets";
import { type IProyectResume } from "@src/data/ProyectsHome.ts";
import Check from "@src/Images/icons/Check.astro";

interface Props {
  proyectResume: IProyectResume;
}

const { proyectResume } = Astro.props;
---

<article
  class="absolute flex h-full flex-col items-start justify-between gap-12 rounded-lg border border-secondary-100 bg-white-500 p-6 shadow-[16px_16px_24px_0px_#18181B30] lg:left-0 lg:flex-row lg:rounded-l-none lg:rounded-r-lg lg:p-0"
>
  <div
    class="flex h-full max-w-md flex-col items-start justify-between gap-8 lg:gap-0 lg:pb-8 lg:pl-8 lg:pt-7"
  >
    <div>
      <hgroup class="mb-6">
        <h5 class="mb-3 text-xl text-black-500">
          {proyectResume.title}
        </h5>
        <p class="mb-2 text-base font-light leading-5">
          {proyectResume.description1}
        </p>
        <p class="text-base font-light leading-5">
          {proyectResume.description2}
        </p>
      </hgroup>
      <ul>
        <h5 class="mb-3 text-black-500 lg:mb-0">Logros del proyecto</h5>
        {
          proyectResume.achievements.map((achievement) => (
            <li class="flex items-center gap-2 font-light text-black-500">
              <Check />
              <span> {achievement} </span>
            </li>
          ))
        }
      </ul>
    </div>
    <a
      href="/construction"
      class="grid h-8 place-content-center rounded border border-black-300 px-4 py-2 text-black-300 hover:border-primary-400 hover:text-primary-400 lg:h-10"
      >Ver más proyectos</a
    >
  </div>
  <picture class="carousel h-full w-full max-w-[498px] overflow-hidden">
    {
      proyectResume.images.map((image, index) => (
        <Image
          class="carousel-image h-full w-full object-cover"
          id={`carousel`}
          data-num-images={proyectResume.images.length}
          src={image}
          alt={`Imagen del proyecto de MMJ ${index + 1}`}
        />
      ))
    }
  </picture>
</article>

<style>
  /* Contenedor del carrusel */
  .carousel {
    /* position: relative; */
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
  }

  /* Imágenes del carrusel */
  .carousel-image {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Animations */
  @keyframes slide-1 {
    0%,
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-2 {
    0%,
    50% {
      transform: translateX(0%);
    }
    50%,
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-3 {
    0%,
    33.33% {
      transform: translateX(0%);
    }
    33.33%,
    66.66% {
      transform: translateX(-100%);
    }
    66.66%,
    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes slide-4 {
    0%,
    25% {
      transform: translateX(0%);
    }
    25%,
    50% {
      transform: translateX(-100%);
    }
    50%,
    75% {
      transform: translateX(-200%);
    }
    75%,
    100% {
      transform: translateX(-300%);
    }
  }

  @keyframes slide-5 {
    0%,
    20% {
      transform: translateX(0%);
    }
    20%,
    40% {
      transform: translateX(-100%);
    }
    40%,
    60% {
      transform: translateX(-200%);
    }
    60%,
    80% {
      transform: translateX(-300%);
    }
    80%,
    100% {
      transform: translateX(-400%);
    }
  }

  /* Add animation dynamically */
  #carousel[data-num-images="1"] {
    animation: slide-1 2s infinite;
  }

  #carousel[data-num-images="2"] {
    animation: slide-2 4s infinite;
  }

  #carousel[data-num-images="3"] {
    animation: slide-3 6s infinite;
  }

  #carousel[data-num-images="4"] {
    animation: slide-4 8s infinite;
  }

  #carousel[data-num-images="5"] {
    animation: slide-5 10s infinite;
  }
</style>
