---
import { Image } from "astro:assets";
import { type IProyectResume } from "@src/data/ProyectsHome.ts";
import Check from "@src/Images/icons/Check.astro";

interface Props {
  proyectResume: IProyectResume;
}

const { proyectResume } = Astro.props;
---

<article
  class="absolute flex h-full flex-col items-start justify-between gap-12 rounded-lg border border-secondary-100 bg-white-500 p-6 shadow-[16px_16px_24px_0px_#18181B30] lg:left-0 lg:flex-row lg:rounded-l-none lg:rounded-r-lg lg:p-0"
>
  <div
    class="flex h-full max-w-md flex-col items-start justify-between gap-8 lg:gap-0 lg:pb-8 lg:pl-8 lg:pt-7"
  >
    <div>
      <hgroup class="mb-6">
        <h5 class="mb-3 text-xl text-black-500">
          {proyectResume.title}
        </h5>
        <p class="mb-2 text-base font-light leading-5">
          {proyectResume.description1}
        </p>
        <p class="text-base font-light leading-5">
          {proyectResume.description2}
        </p>
      </hgroup>
      <ul>
        <h5 class="mb-3 text-black-500 lg:mb-0">Logros del proyecto</h5>
        {
          proyectResume.achievements.map((achievement) => (
            <li class="flex items-center gap-2 font-light text-black-500">
              <Check />
              <span> {achievement} </span>
            </li>
          ))
        }
      </ul>
    </div>
    <a
      href="/construction"
      class="grid h-8 place-content-center rounded border border-black-300 px-4 py-2 text-black-300 hover:border-primary-400 hover:text-primary-400 lg:h-10"
      >Ver más proyectos</a
    >
  </div>
  <picture class="aspect-[6/5] w-full">
    <Image
      class="w-full object-cover"
      src={proyectResume.image}
      alt={"Imagen del proyecto de MMJ"}
    />
  </picture>
</article>
