---
import bgEmbebido from "@src/Images/Carreras/HeroBg.avif";
import bgEmbebidoDesktop from "@src/Images/Carreras/HeroBgDesktop.avif";
import bgHardware from "@src/Images/Carreras/Hardware/BgHeroHardware.avif"
import bgHardwareDesktop from "@src/Images/Carreras/Hardware/BgHeroHardware.avif"
import Chip from "@src/Images/icons/Chip.astro";
import GoalSpecialite from "./GoalSpecialite.astro";
import ObjectiveCardContainer from "./ObjectiveCardContainer.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const bgImages = {
  embebido: {
    mobile: bgEmbebido,
    desktop: bgEmbebidoDesktop,
  },
  hardware: {
    mobile: bgHardware,
    desktop: bgHardwareDesktop,
  }
};

const { carrera } = Astro.params;
const specificCarrer = await getEntry("carrers", `${carrera}`);

const {
  title,
  description,
  goals,
  backgroundHeroImage,
  studentProfile,
  skillsTech,
  canPerform,
} = specificCarrer?.data || {};
---

<section class="md:bg-black-900 relative">
  <Image
    class="invisible absolute left-0 right-0 top-16 mx-auto hidden h-full w-full object-cover md:visible md:z-10 md:block md:h-full"
    src={bgImages[backgroundHeroImage as keyof typeof bgImages].desktop}
    alt="Imagen de fondo de alguien programando"
  />
  <div class="h-12 w-full"></div>
  <!-- Pequeño cuadro para bajar el resto del espacio que oculata la barra de navegación fija -->
  <div class="relative mx-auto max-w-7xl overflow-x-hidden">
    <picture
      class="absolute -z-50 aspect-[2/1] h-full bg-white-50 md:z-0 md:bg-black-900"
    >
      <Image
        class="absolute -left-[64rem] -top-24 block h-full w-full object-cover md:hidden"
        src={bgImages[backgroundHeroImage as keyof typeof bgImages].mobile}
        alt="Imagen de fondo de alguien programando"
      />
    </picture>
    <div class="z-10 px-6 py-8 md:relative md:pb-44">
      <div class="mb-1 grid h-10 w-10 place-content-center">
        <Chip fill="#E9EAEB" width="40" height="40" />
      </div>
      <hgroup>
        <h3 class="mb-2 text-3xl font-bold text-white-50 xs:text-5xl">
          {title}
        </h3>
        <p
          class="mb-6 text-base leading-tight tracking-tight text-white-200 xs:text-xl lg:max-w-3xl lg:font-light"
        >
          {description}
        </p>
      </hgroup>
      <ul class="mb-6 pl-4">
        <h4 class="relative mb-3 text-xl font-bold text-white-200 lg:max-w-xl">
          Objetivos de la especialidad
          <span class="absolute bottom-0 left-0 h-[2px] w-4/5 bg-primary-400">
            <span
              class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-primary-400"
            >
            </span>
          </span>
        </h4>
        {goals?.map((goal: string) => <GoalSpecialite goal={goal} />)}
      </ul>
      <hgroup class="mb-4 pl-4">
        <h4 class="relative mb-3 text-xl font-bold text-white-300 lg:max-w-2xl">
          Ruta Recomendada para esta Especialidad
          <span class="absolute bottom-0 left-0 h-[2px] w-full bg-primary-400">
            <span
              class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-primary-400"
            >
            </span>
          </span>
        </h4>
        <p
          class="text-base leading-5 tracking-tight text-white-300 lg:max-w-2xl"
        >
        Te sugerimos seguir una secuencia estructurada de aprendizaje que abarca desde fundamentos hasta proyectos avanzados, asegurando que desarrolles las competencias necesarias para diseñar soluciones a medida para distintos campos de la industria.
        </p>
      </hgroup>
      <a
        href="/soon"
        class="ml-4 inline-block rounded border border-white-300 px-4 py-2 text-white-300 transition-colors duration-200 hover:bg-white-300 hover:text-black-900"
        >Ver ruta</a
      >
      <div class="md:hidden">
        <ObjectiveCardContainer
          studentProfile={studentProfile}
          skillsTech={skillsTech}
          canPerform={canPerform}
        />
      </div>
    </div>
  </div>
</section>
