---
import Check from "@src/Images/icons/Check.astro";
import { Image } from "astro:assets";
import bgCourseCard from "@src/Images/Carreras/BgCourseCard.png";

const bgImages = {
  proyectBase: bgCourseCard,
};

const { project, index } = Astro.props;
const { bgProjectCard, title, description, url, goals, skills } = project;
---

<div class="lg:flex lg:justify-center lg:gap-8">
  <figure class="lg:flex-1">
    <Image
      src={bgImages[bgProjectCard as keyof typeof bgImages]}
      alt="Imagen de Proyectos Prácticos"
      class="mx-auto mb-6 aspect-video w-full rounded lg:h-full"
    />
  </figure>
  <div class="lg:max-w-2xl">
    <figcaption class="mb-2 xs:mb-6 lg:mb-2 lg:flex lg:items-baseline lg:gap-3">
      <h5
        class="text-xl font-bold text-primary-500 xs:text-2xl md:text-3xl lg:text-2xl lg:font-bold"
      >
        Proyecto {(index + 1).toString().padStart(2, "0")}
      </h5>
      <h4
        class="text-xl leading-tight text-black-500 xs:text-2xl md:text-3xl lg:text-2xl"
      >
        {title}
      </h4>
    </figcaption>
    <p
      class="mb-6 text-sm font-light leading-tight text-black-500 xs:text-base md:text-lg lg:mb-4 lg:text-base lg:leading-5"
    >
      {description}
    </p>
    <ul class="mb-2 flex items-start justify-between">
      <ul class="hidden lg:block">
        <p class="mb-1 text-black-500">Objetivos</p>
        {
          goals.map((goal: string) => (
            <li class="mb-2 flex items-center gap-1">
              <Check fill="#C40B2A" />
              <span class="text-base font-light text-black-500">{goal}</span>
            </li>
          ))
        }
      </ul>
      <ul class="hidden lg:block">
        <p class="mb-1 text-black-500">Habilidades Reforzadas</p>
        {
          skills.map((skill: string) => (
            <li class="mb-2 flex items-center gap-1">
              <Check fill="#C40B2A" />
              <span class="text-base font-light text-black-500">{skill}</span>
            </li>
          ))
        }
      </ul>
    </ul>
    <div class="hidden lg:block">
      <p class="mb-1 text-black-500">Impacto Real</p>
      <span class="text-base font-light text-black-500"
        >Simula situaciones reales de desarrollo de sistemas integrados en el
        sector de consumo masivo.</span
      >
    </div>
    <a
      href={url}
      class="inline-block rounded border border-black-300 px-6 py-3 text-black-300 hover:bg-white-200 lg:hidden"
      >Ver proyecto</a
    >
  </div>
</div>
